h1{
	color:red;
}
html
{
	background-color:rgb(169,108,245);
}

.box {
    text-align: center;
    background-color:red;
    color:white;
    
    font-weight:bold;
    height:200px;
    width: 500px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-style: solid;
    border-right-color: coral;
}
header
{
		background-color:yellow;
		color:rgb(88,88,88);
		font-family:'Meiryo UI';
		font-size: xx-large;
		font-weight:bolder;
		margin-left: 0em;
		margin-right: 0em;
		margin-top: 1em;
		text-align: center;
		/* width:20em; */
}

input[type=text]
{
		font-family:'Microsoft YaHei UI';
		
		font-size:1em;
		left:0%;
		margin: 0 auto;
		box-sizing: border-box;
		position: relative;
		top: 10%;
		width: 95%;
}
input[type=submit],input[type=button]
{
		font-family:'Microsoft YaHei UI';		
		font-size:1em;
		left:0%;
		margin: 0 auto;
		box-sizing: border-box;
		position: relative;
		top: 10%;
		width: 50%;
}
.css-section .css-form .css-span
{
	text-align: center;
	width: 100%;
}

.css-center
{
	text-align: center;
}

.css-heading
{
	margin: 0 auto;
	margin-top: 1em;
	width: 50em;
}

.css-header
{
	margin: 0 auto;
	padding: 0%;
	position: relative;
	top: 10%;
	width: 100%;
}